@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

.fullscreen {
  background-color: #1a1535;
 
  padding: 20px;
}

.container {
  padding: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

h1 {
  color: #d077ab;
}

.campos {
  display: flex;
  width: 100%;
flex-direction: column;
  background-color: #302a4e;
  border-radius: 8px;

  padding: 30px 20px;
  row-gap: 10px;
}

.campos label {
  color: #fcfcf4;
  font-weight: 400;
}


.campos input, select{
border: none;
border-radius: 6px;
background-color: #FCFCF4;
padding: 10px 4px;

outline: none;

color: #1a1535;
font-weight: 600;

}
.inputs{

display: flex;
flex-wrap: wrap;
justify-content: space-between;
row-gap: 10px;

}

.inputGroup{

display: flex;
flex-direction: column;
width: 40%;
row-gap: 10px;


}

#calcular{

background-color: #d077ab;
color: #FCFCF4;
border: none;
font-weight: 600;
font-size: 20px;
border-radius: 8px;

padding: 10px 0;


}

#limpar{

border: 2px solid #d077ab;
background: transparent;

color: #FCFCF4;
font-size: 16px;
border-radius: 8px;
padding: 10px 0;

}
.resultados {
  background-color: #ff8dd0;
  width: 100%;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  color: #FCFCF4;
}

.cima{

display: flex;
flex-direction: column;
align-items: center;
row-gap: 5px;
border-bottom: 1px solid #1a1535;
padding-bottom: 10px;
margin-bottom: 10px;

}
#nome_tela{



    color: #1a1535;
    font-weight: 700;
}

#idade_tela, #sexo_tela{

color: #fcfcf4;

}

#sexo_tela{

font-weight: 400;
font-size: 16px;

}

.nomeIdade{

display: flex;

}


.pesoAltura{
  display: flex;

}

#altura_tela, #peso_tela{


  color: #1a1535;
}

#resultado{
  color: #1A1535;
  font-weight: 700;
  font-size: 96px;


}

button{

  cursor: pointer;
}

#pdf{

  border: 0;
width: 100%;
padding: 0px 20px;
background-color: #FCFCF4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
padding: 10px 0;

  font-size: 32px;
  color: #1a1535;
  font-weight: 900;
}


#pdf img{


border-right: 3px solid #1A1535;;
padding-right: 5px;
margin-right: 5px;

}


.file{
  background-color: #ff8dd0;
  width: 100%;
  height: 1055px;
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #FCFCF4;


}

.generate{

color: #FCFCF4;

}

.generate span{

color: #1A1535;


}

.fileTitle{

color: #FCFCF4;
font-size: 60px;


}